.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.idea
node_modules/
backend/app/frontend/
/test-results/
frontend/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.DS_Store
openapi.json
